#about {
	/* height: 100vh;
    width: 100vw; */
    /* display: flex; */
    /* flex-direction: row;
    flex-wrap: wrap; */
    border-bottom: 10px solid #666066;
    background-image: linear-gradient(to right top,#d16ba5,#c777b9,#ba83ca,#aa8fd8,#9a9ae1,#8aa7ec,#79b3f4,#69bff8,#52cffe,#41dfff,#a1e7ec,#5ffbf1);
}
.App {
	background-color: #8aa7ec;
	color: white;
	text-align: center;
}



#personalImage {
	border-radius: 60%;
	object-fit: contain;
	width: 300px;
	height: 300px;
	/* margin-top: 5%; */
	background-color: #231e23;
	border: 5px solid #5eaec7;
}

.carousel {
	margin: auto;
  	padding: 50px;
  	color: #33475b;
	font-size: xx-large;    
}

.picturegallery {
	width: 800px;
	height: 500px;
}

/* .projectinfo {
	text-align: center;
	font-style: italic;
} */

#githubpic{
	width: 5%;
	height: 5%;
	border-radius: 40%;
}

#linkedinpic{
	width: 5%;
	height: 5%;
}

.picturegallery {
	border-radius: 45px;
	padding: 20px;
	width: 700px;
	height: 600px;
}

